<h1><%= @snack.name %></h1>

<p>Price: <%= @snack.price %></p>
<p>Locations:</p>
<% @snack.machines.each do |machine| %>
  <ul>
    <li><%= "#{machine.location} (#{machine.snack_count} kinds of snacks, average price of $#{machine.average_price})" %> </li>
  </ul>
<% end %>